kubeProxyReplacement: "true"

k8sServiceHost: {{ master.master_private_ip }}
k8sServicePort: 6443

hubble:
  relay:
    enabled: true

ipam:
  operator:
    clusterPoolIPv4PodCIDRList:
    - "{{ pod_network_cidr }}"

encryption:
  enabled: {{ cilium_use_encryption }}
  type: {{ cilium_encryption_type }}
